@page "/about"
@rendermode InteractiveServer

<PageTitle>About</PageTitle>

<div class="main">
    <h3>About Veterinary Patient Care Tools</h3>

    <p>
        This website is designed to serve as a digital toolkit for RVNs working in clinical practice. It's a slowly growing arsenal of obvious
        simple tools for calculating things like fluid intake and output, CRIs, and tube feeding nutrition plans. The kinds of tasks we're often
        expected to carry out as quickly as the computers that were invented for them, but which often steal vast amounts of our time and attention
        from some of our most vulnerable patients.
    </p>

    <p>
        It's not pioneering anything; tools like these exist already, but they're usually scattered across different websites
        and apps, often built for product marketing, and many require account registration. They also seem to be mostly aimed at vets... not
        their main users. I wanted to make (and use) something I could access anywhere, had everything in one place, wasn't product dependent,
        was actually built for my role, and didn't trade its services for my personal information like some digital Rumplestiltskin.
    </p>

    <p>
        I'll be slowly adding to the tools available here over time, and I don't intend to charge for them either in money or firstborn children at any point
        in the future.
    </p>

    <br />
    <hr />
        
    <h3>About The Developer</h3>

    <p>
        I started my vet nurse training in 2012 at a multi-branch 24 hour mixed animal Hospital, and two years later moved to a small animal General
        Practice where I qualified in 2016. I've since completed an ISVPS Certificate in Surgical Nursing, worked in referral carrying out
        advanced anaesthesia and ward nursing, coached numerous student nurses, mentored VCAs, spent time as a locum, and finally settled
        down in a lovely calm feline-only clinic.
    </p>

    <p>
        In 2022, I was offered a once-in-a-lifetime opportunity to stop banging my head all over the legislative ceiling like a desperate
        bluebottle and start exploring a career in one of my other passions instead. So I enrolled on the BSc (Hons) Computing and IT degree
        with the Open University and started a career pirouette into software development. Now uni's finished, I'm pouring all the free time
        I've finally reclaimed into the gaping technological void where nothing was ever built for RVNs or the work we do. That work being
        patient care, of course... our industry's whole reason for even existing in the first place.
    </p>
</div>

@code {

}