@page "/about"
@rendermode InteractiveServer

<PageTitle>About</PageTitle>

<div class="main">
    <h3>About Veterinary Patient Care Tools</h3>

    <p>
        This website is designed for use as a digital toolkit for RVNs working in clinical practice.
    </p>

    <p>
        It was originally a tube feeding nutrition calculator and automatic meal planner I built after a stressful afternoon trying to rattle these rarely used skills out of my brain
        while recovering a patient, cleaning up after surgery and still finishing all the other things that normally fill the afternoon on their own. It left me yet again wondering why,
        in the 21st century, with all this expensive purpose built veterinary administration and clinical software at our disposal, we are <strong>still</strong> wasting so much skilled
        professional time and energy on easily automated formulaic tasks that a computer could carry out in an instant.
    </p>

    <p>
        So I built this. And honestly? It wasn't hard, and didn't take long. No help from AI, either. Just little ol' RVN me. The algorithms all existed already, we all use them
        every time we carry out these tasks at work. I just put them in a website. They could have been put in a PMS the same way any time.
    </p>

    <p>
        This is still a work in progress, though, and I'll continue slowly adding to it over time. I've made these tools as accurate and up to date with current evidence as I could, but as with all
        things on the internet, you should still verify for yourself that it's working how you expect and that you are happy with its output. I'm not responsible for anything it might be
        used for, or anything that might result from its use.
    </p>

    <p>
        All that said, I really hope you find these tools as useful as I have.
    </p>

    <hr />
        
    <h3>About The Developer</h3>

    <p>
        I started my vet nurse training in 2012 at a multi-branch 24 hour mixed animal Hospital in the Kent countryside, and two years later moved to a small animal General Practice
        in Hampshire where I qualified in 2016. I've since been a Clinical Coach, mentored VCAs, completed an ISVPS Certificate in Surgical Nursing, worked in referral
        carrying out advanced anaesthesia and ward nursing, spent time travelling as a locum, and finally settled down in a wonderful feline-only clinic.
    </p>

    <p>
        In 2022, I started studying Computing and IT via the Open University so I could move into software development. This isn't as extreme a pivot as it first looks;
        I've always been interested in both technology and veterinary medicine. A whole host of factors informed my initial career choice, but I hit the ceiling on what vet nursing
        can offer right as I was presented with a once-in-a-lifetime opportunity to explore my other passion.
    </p>

    <p>
        Maybe it's because of my interest in tech that the utter exclusion of RVNs from modern techology has been slapping me in the face since my first moment in practice.
        Even today, the few veterinary hospitalisation and anaesthesia chart applications out there are almost exclusively marketed at vet surgeons, with RVNs sometimes mentioned
        as an afterthought. We're not even a primary subject of the scant articles or publications about this recent innovation called 'patient care software,' which I imagine was
        was deemed a more marketable name than 'RVN software.'
    </p>
</div>

@code {

}