@page "/about"
@rendermode InteractiveServer

<PageTitle>About</PageTitle>

<div class="main">
    <h3>About Veterinary Patient Care Tools</h3>

    <p>
        This website is designed as a digital toolkit for RVNs working in clinical practice.
    </p>

    <p>
        It's a slowly growing arsenal of all the obvious simple tools we were never given for carrying out all those lengthy formulaic tasks
        computers are really good at doing instantly. Tasks that to this day are still stealing so much of our time and attention from so
        many of our most vulnerable patients. 
    </p>

    <p>
        I'm not pioneering anything here; other people have made tools like these, but they're usually scattered across different websites
        and apps, often built for product marketing, and often require account registration. They also seem to be mostly aimed at vets... not
        their actual users. I wanted to make (and use) something that I could access anywhere, had everything I needed in one place, wasn't
        product dependent, was actually built for my role, and didn't try to make me log into anything.
    </p>

    <p>
        These tools I've built have already saved me countless hours and headaches at work so far, and I hope you find them just as useful.
    </p>

    <br />
    <hr />
        
    <h3>About The Developer</h3>

    <p>
        I started my training in 2012 at a multi-branch 24 hour mixed animal Hospital, and two years later moved to a small animal General
        Practice where I qualified in 2016. I've since completed an ISVPS Certificate in Surgical Nursing, worked in referral carrying out
        advanced anaesthesia and ward nursing, coached numerous student nurses, mentored VCAs, spent time as a locum, and finally settled
        down in a lovely calm feline-only clinic.
    </p>

    <p>
        In 2022, I was offered a once-in-a-lifetime opportunity to stop banging my head all over the legislative ceiling like a desperate
        bluebottle and start exploring a career in one of my other passions instead. So I enrolled on the BSc (Hons) Computing and IT degree
        with the Open University and started a career pirouette into software development. Now uni's finished, I'm pouring all the free time
        I've finally reclaimed into the gaping technological void where nothing was ever built for RVNs or the work we do. That work being
        patient care, of course... our industry's whole reason for even existing in the first place.
    </p>
</div>

@code {

}