@page "/cris"
@rendermode InteractiveServer

<PageTitle>Constant Rate Infusion Calculator</PageTitle>

<div class="main">
    <h3>Constant Rate Infusion Calculator</h3>

    <p>
        <strong>[IN CONSTRUCTION]</strong>
    </p>
</div>

@code {

}