@page "/fgfr"
@rendermode InteractiveServer

<PageTitle>Fresh Gas Flow Rate</PageTitle>

<div class="main">
    <h3>Fresh Gas Flow Rate Calculator</h3>

    <p class="centre-text">
        <strong>These tools are intended for use by registered veterinary professionals ONLY.</strong>
    </p>
    <p>
        <strong>Although I've done my best to make it accurate, appropriate and safe, I can't guarantee it will always
        stay up to date with current evidence or that I won't overlook anything or make mistakes, so you remain fully
        responsible for personally verifying any output you choose to use on real patients.</strong>
    </p>

    <p>
        <strong>[IN CONSTRUCTION]</strong>
    </p>
</div>

@code {

}