@page "/"

<PageTitle>RVN Tools</PageTitle>

<main>
    <h1>RVN Tools</h1>
    <p id="tools-subheading">A collection of digital tools for Registered Veterinary Nurses</p>

    <p class="centre-text">Right now there's only a tube feeding calculator, but I will be adding more over time!</p>

    <div class="centred-container">
        <a href="/calculator"><section><p>Tube Feeding Calculator</p></section></a>
    </div>
</main>