@page "/"

<PageTitle>RVN Tools</PageTitle>

<main>
    <h1>Veterinary Patient Care Tools</h1>
    <p id="tools-subheading">A digital tool belt for RVNs</p>

    <div class="centred-container">
        <a href="/calculator"><section>
            <p id="tools-subheading">Tube Feeding</p>
            <p>Generates a nutrition and fluid plan, complete with feeding schedule and basic information handout.</p>
            </section>
        </a>
        <a href="/calculator">
            <section>
                <p id="tools-subheading">Weight Clinics</p>
                <p>Estimates the ideal body weight, the next target weight, and % weight loss per week since the last appointment.</p>
            </section>
        </a>
        <a href="/calculator">
            <section>
                <p id="tools-subheading">Fluid ins and outs</p>
                <p>Gives an overview of fluid intake vs output, taking into account metabolic needs and hydration status.</p>
            </section>
        </a>
        <a href="/calculator">
            <section>
                <p id="tools-subheading">Wound Dressing</p>
                <p>Helps you pick the most appropriate dressing from what you have available.</p>
            </section>
        </a>
        <a href="/calculator">
            <section>
                <p id="tools-subheading">CRIs</p>
                <p>Performs constant rate infusion calculations.</p>
            </section>
        </a>
        <a href="/calculator">
            <section>
                <p id="tools-subheading">Anaesthesia FGFR</p>
                <p>Calculates FGFR and reservoir bag size.</p>
            </section>
        </a>
    </div>
</main>