@page "/dressings"
@rendermode InteractiveServer

<PageTitle>Wound Dressing Choice</PageTitle>

<div class="main">
    <h3>Wound Dressing Choice</h3>

    <p>
        <strong>[IN CONSTRUCTION]</strong>
    </p>
</div>

@code {

}